{% extends 'music/base.html'%}

{% block title %}
    <title>Add Album</title>
{% endblock %}

{% block body %}

<div class="container">
    <h4>Add new album:</h4>
    <form class="form-horizontal" action="" method="POST" enctype="multipart/form-data"> 
        {% csrf_token %}
        {% include 'music/form-template.html' %}
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-info">Submit</button>
            </div>
        </div>
    </form>
</div>

{% endblock %}