{% extends 'music/base.html' %}
{% block title %}
    <title>{{album.title}}</title>
{% endblock %}
{% block  body %}
    <div class="container">
        <h1>{{album.title}} Details</h1>
        <img class="details-img img-rounded" src={{album.image}} alt="{{album.title}} - {{album.artist}}">
        {% if error_message %}
            <p><strong>{{error_message}}</strong></p>
        {% endif %}
        <h2>Artist: {{album.artist}}</h2>
        <h4>Released in {{album.year}}</h4>
        <h4>Song List</h4>
        <form action="#" method="POST">
            {% csrf_token %}
            {% for song in album.song_set.all %}
                <input type="radio" id="song{{ forloop.counter }}" name="song" value="{{song.id}}" />
                <label for="song{{ forloop.counter }}">{{song.title}}
                {% if song.is_favorite %}
                    <img src="https://cdn2.iconfinder.com/data/icons/snipicons/500/star-128.png" alt="" width="16px" height="auto">
                {% endif %}
                </label><br />
                {% endfor %}
                <input class="btn btn-primary" type="submit" value="Favorite">
        </form>
    </div>
{% endblock  %}