{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'music/style.css'%}" type="text/css">
    <title>{{album.title}} Details</title>
</head>
<body>
    <div class="container">
        <h1>{{album.title}} Details</h1>
        <h2>Artist: {{album.artist}}</h2>
        <h4>Released in {{album.year}}</h4>
        <img src={{album.image}} alt="{{album.title}} - {{album.artist}}">
        {% if error_message %}
            <p><strong>{{error_message}}</strong></p>
        {% endif %}

        <h4>Song List</h4>
        <form action="{% url 'music:favorite' album.id %}" method="POST">
            {% csrf_token %}
            {% for song in album.song_set.all %}
                <input type="radio" id="song{{ forloop.counter }}" name="song" value="{{song.id}}" />
                <label for="song{{ forloop.counter }}">{{song.title}}
                {% if song.is_favorite %}
                    <img src="https://cdn2.iconfinder.com/data/icons/snipicons/500/star-128.png" alt="" width="16px" height="auto">
                {% endif %}
                </label><br />
                {% endfor %}
                <input class="btn btn-primary" type="submit" value="Favorite">
        </form>
    </div>
</body>
</html>