{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Music Albums</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'music/style.css' %}" type="text/css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-inverse bg-inverse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a href="{% url 'music:index' %}" class="navbar-brand">Music</a>
            </li>
            <li class="nav-item">
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search Albums" aria-label="Search"/>
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
            </li>
        </ul>
    </nav>
    <div class="container">
    <h1>Music Albums</h1>

    <ul>
        {% for album in albums %}
            <li>
                <a href={{album.id}}>
                    <h4>{{album.title}}</h4>
                    <img src={{album.image}} alt="{{album.title}} - {{album.artist}}">
                </a>
            </li>
        {% endfor %}
    </ul>
    </div>
</body>
</html>