{% extends 'music/base.html' %}
{% block title %}
    <title>Music Albums</title>
{% endblock %}

{% block body %}
    <div class="container">
    <h1>All Albums</h1>
        <div class="row">
            {% for album in all_albums %}
            <div class="col-md-4 col-sm-6 col-xs-12">
                <a class="anchor-title" href="album/{{album.id}}">
                <div class="card text-white bg-dark mb-3">
                    <img class="grid-img card-img" src={{album.image.url}} alt="{{album.title}} - {{album.artist}}" />
                    <h5 class="card-title">{{album.title}}</h5>
                </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
